html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
}

.header {
    display: flex;
    height: 60px;
    width: 100%;
    background-color: bisque;
 

}

.header h3 {
    width: 40%;
    margin-left: 30px;
    align-self: center;
}

.navBar {
    display: flex;
    font-size: 20px;
    gap: 64px;
    width: 60%;
    margin-right: 50px;
    justify-content: flex-end;
    align-items: center;
}
.navBar a {
    text-decoration-line:none;
    cursor: pointer; 
}

.description-section {
    display: flex;
    gap: 16px;

    width: 100%;
    height: 450px;
}

.description-section .lawyer {
    width: 50%;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.lawyer h2 {
    font-size: 30px;
    margin:0;
}

.lawyer p {
    margin: 0 50px;
}

.description-section .image-container {
    width: 50%;
    padding: 30px;
    display: flex;
    justify-content: center;
    /* align-items: center; */

}

.image-container img {
    width: 300px;
    height: 400px;
    /* object-fit: cover; */
    border-radius: 100px;
    
}

.services-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 350px;
    background-color: bisque;
}

.social-network {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.services-wrapper {
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    gap: 32px;
}
.services-list {
    width: 400px;
    height: 200px;
    /* border: 1px solid black;
    border-radius: 10px; */
}

.contact-container {
    height: 450px;
    display: flex;
    justify-content: center;
}

li {
    line-height: 30px;
}

.footer {
    width: 100%;
    background-color: bisque;
    height: 150px;
    
    display: flex;
    justify-content: space-between;
}

.info-footer {
   padding-left: 100px;
}

.info-footer h3 h4 {
    margin: 0;
}

.social-network-footer {
    display: flex;
    height: 100%;
    margin-right: 100px;
    justify-content: flex-end;
    gap: 16px;
    align-items: center;
}

i {
    cursor: pointer;
}

.info-about-wrapper {
    margin-top: 50px;
    padding-left: 500px;
    padding-right: 500px;
    height: 500px;
    display: flex;
}

.info-about-wrapper h1 {
    margin: 0;
}

.text-description {
    padding-left: 500px;
    padding-right: 500px;
}
 .salsa-cumbia-img {
    margin-left: 20px;
    border-radius: 10px;
 }